body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    padding: 20px;
}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

form {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input{
    width: 94%;
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
